:root {
    --color: white;
    --background-color: rgba(32, 32, 32, 1);
    --banner-tint: rgba(255, 255, 255, 0.0625);
}

@media (prefers-color-scheme: light) {
    :root {
        --color: black;
        --background-color: rgba(255, 255, 255, 1);
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-image: url(banners/adwaita-d.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.title-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--banner-tint);
    border-radius: inherit;
    z-index: 1;
}

.title-container > * {
    position: relative;
    z-index: 2;
}

.title {
    padding-top: 50px;
    font-size: 100px;
    color: white;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    user-select: none;
}

.part {
    padding-bottom: 50px;
    font-size: 28px;
    color: white;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    transform: translateY(-32px);
    user-select: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 50rem;
}

body {
    background-color: var(--background-color);
    padding: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    color: var(--color);
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(96, 96, 96);
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0087e8;
}