:root {
    --color: white;
    --background-color: rgba(32, 32, 32, 1);
    --button-background-color: rgba(64, 64, 64, 1);
    --button-background-color-hover: rgba(96, 96, 96, 1);
    --button-background-color-active: rgba(48, 48, 48, 1);
    --banner-tint: rgba(255, 255, 255, 0.0625);
    --part-title-offset-y: -32px;
    --title-font-size: 100px;
    --part-font-size: 28px;
    --title-padding: 50px;
}

@media (prefers-color-scheme: light) {
    :root {
        --color: black;
        --background-color: rgba(255, 255, 255, 1);
        --button-background-color: rgba(230, 230, 230, 1);
        --button-background-color-hover: rgba(220, 220, 220, 1);
        --button-background-color-active: rgba(200, 200, 200, 1);
    }
}

@media (max-width: 768px) {
    :root {
        --part-title-offset-y: -24px;
        --title-font-size: 75px;
        --part-font-size: 21px;
        --title-padding: 37.5px;
    }
}

@media (max-width: 480px) {
    :root {
        --part-title-offset-y: -16px;
        --title-font-size: 50px;
        --part-font-size: 14px;
        --title-padding: 25px;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-image: url(banners/adwaita-d.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.title-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--banner-tint);
    border-radius: inherit;
    z-index: 1;
}

.title-container > * {
    position: relative;
    z-index: 2;
}

.title {
    padding-top: var(--title-padding);
    line-height: 0px;
    font-size: var(--title-font-size);
    color: white;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    user-select: none;
}

.part {
    padding-bottom: calc(var(--title-padding) + var(--part-title-offset-y));
    line-height: 0px;
    font-size: var(--part-font-size);
    color: white;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    transform: translateY(var(--part-title-offset-y));
    user-select: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    max-width: 50rem;
}

body {
    background-color: var(--background-color);
    padding: 2rem;
    overflow-y: scroll;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    color: var(--color);
}

hr {
    border: none;
    height: 1px;
    background-color: rgb(96, 96, 96);
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0087e8;
}

button {
    padding: 10px;
    background-color: var(--button-background-color);
    color: var(--color);
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: var(--button-background-color-hover);
}

button:active {
    background-color: var(--button-background-color-active);
}